* {
  box-sizing: border-box;
}
body{
	font-family: Arial, Helvetica, sans-serif;
	margin:0;
}
#our-menu-heading{text-align:center;margin:30px 0 50px 0;font-size:25px}
section > article:nth-child(odd){
	margin:0 1%;
}
.menu-details{	
    float: left;
    background-color: #999999;
    border: 2px solid black;
    width: 32%;
    position: relative;
}
 .menu-details h3{
	font-weight:bold;
    border: 2px solid black;
    padding: 5px;
    width: 120px;
    text-align: center;
    margin-top: 0;
	font-size: 0.9em;
	position: absolute;
    right: -2px;
    top: -2px;
   
}
.menu-details p{padding: 0 10px 0px 10px;}
.chicken-heading{
	background-color:#D59898;
}
.beef-heading{
	background-color:#C14543;
	color:#fff;
}
.sushi-heading{
	background-color:#E5D198;
}
.menu-details p{
	position: relative;
    margin-top: 40px;
}


@media (min-width: 768px ) and (max-width: 991px) {
	section > article:nth-child(1){
		margin:0 2%;
		width:47%;
	}
	section > article:nth-child(2){
		margin:0 2% 0 0;
		width:47%;
	}
	section > article:nth-child(3){
		width:96%;
		margin:2% 2% 0 2%;
	}
}
@media (max-width: 767px ){
	section > article.menu-details{
		width:96%;
		margin:0 2% 2% 2%;
	}
}